{% extends 'base.html' %}



{% block content %}
{% load static %}



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" style="height: 725px;">
        <div class="carousel-item active">
            <img src="{% static 'assets/img/living.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'assets/img/roomie.jpeg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'assets/img/desk-office.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'assets/img/sweet.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'assets/img/room.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<div class="container" style="padding-top: 30px; padding-bottom: 30px;">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 card">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eligendi tempora, voluptatibus
                incidunt dolore vero porro assumenda dolorum quod natus? Quis veniam, maiores facilis iusto
                sequi non nostrum corporis? Deseru</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eligendi tempora, voluptatibus
                incidunt dolore vero porro assumenda dolorum quod natus? Quis veniam, maiores facilis iusto
                sequi non nostrum corporis? Deseru</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 card">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eligendi tempora, voluptatibus
                    incidunt dolore vero porro assumenda dolorum quod natus? Quis veniam, maiores facilis iusto
                    sequi non nostrum corporis? Deseru</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eligendi tempora, voluptatibus
                    incidunt dolore vero porro assumenda dolorum quod natus? Quis veniam, maiores facilis iusto
                    sequi non nostrum corporis? Deseru</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}